.download-section {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    background: #01182b;
    height: 300px;
    padding-top: 75px;
    h3{
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .free-download-btn {
        border: none;
        border-radius: 3px;
        background-color: #0f97ff;
        color: #fff;
        min-width: 150px;
        height: 46px;
        line-height: 46px;
        vertical-align: middle;
        font-size: 16px;
        padding: 12px 32px 12px 32px;
        transition: box-shadow .2s ease-in-out;
    }
}