//added by nabin
.download-btn{
    a{
        padding: 15px 50px 15px 50px;
        font-weight: bold;
        transition: box-shadow .2s ease-in-out;
        border-radius: 5px;
        color: #fff !important;
        background-color: $xc-logo-color;
        font-size: 18px;
    }
    a:hover{
        background-color: $default-highlighter-color;
    }
} 
.prerequisites{
    ul {
        list-style: none;
    }
    ol{
        li{
            text-align: justify;
        }
    }
    .check {
        margin-right: 7px;
    }
}