
/*=============================================
=               Site Variable              =
=============================================*/

// Color Variables
$color-white: #fff;
$color-black: #000;
$transparent: transparent;
$default-text-color: #555555;
$footer-bg : #4f8eb7;// Not used
$primary-footer-bg : #01182b;
$default-highlighter-color:#70c384;
$xc-footer-link-color:#868e96;

//added by nabin
//font
//$xc-font : "Poppins-Regular", sans-serif !important;
$xc-font : "PingFang SC Regular", sans-serif !important;
$xc-logo-color:#4c995e;

// Break Points
$break-xs: 567px;
$break-sm: 767px;
$break-md: 991px;
$break-lg: 1200px;
$break-xl: 1400px;
