<div class="container-fluid px-0 pricing-wrapper">
  <div class="container px-0">
    <div class="row ">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="price-des">Choose a plan that’s right for you</h1>
        <div class="price-short-des">Get start.</div>
      </div>
    </div>
    <div class="row row-card">
      <div class="col-12 col-md-6">
        <div class="card custom-card-wrapper">
          <div class="text-center">
            <div class="des-card">Monthly Plan</div>
            <div class="basic-des-card">
              <div class="price"><del *ngIf="monthly.specialDiscountPercent>0">${{monthly.priceUSD}} </del></div>
              <div class="new-price">${{monthly.priceUSD - monthly.specialDiscountPercent /100 * monthly.priceUSD | number : '1.0-0'}}</div>
            </div>
            <p class="discount pt-2" *ngIf="monthly.specialDiscountPercent >0">discount: {{monthly.specialDiscountPercent}}%</p>
            <div class="btn-top">
              <button class="btn-basic" [routerLink]="['/create-temp-user/']" [queryParams]="{ type: 'm'}">
                Buy now
              </button>
            </div>
          </div>
          <!--<hr />-->
          <div class="features-list">
            <p class="item-of-card">Features</p>
            <ul class="mt-3">
              <!--<div class="item-of-card">Features</div>-->
              <li><i class="pi pi-check check"></i> Manually renew every month </li>
              <li><i class="pi pi-check check"></i> Access to training material and video tutorials </li>
              <li><i class="pi pi-times check-del"></i> Live online training </li>
              <li><i class="pi pi-check check"></i> Chart Support </li>
              <li><i class="pi pi-check check"></i> Email Support-Business hours (IST) </li>
              <li><i class="pi pi-times check-del"></i> Google Meet or Skype Support </li>
              <li><i class="pi pi-times check-del"></i> Bulk Purchase offer </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-4 mt-md-0">
        <div class="card custom-card-wrapper">
          <div class="text-center">
            <div class="des-card">
              Yearly
              Plan
            </div>
            <div class="basic-des-card">
              <div class="price"><del *ngIf="yearly.specialDiscountPercent>0">${{yearly.priceUSD}}</del></div>
              <div class="new-price">${{yearly.priceUSD - yearly?.specialDiscountPercent /100 * yearly.priceUSD | number : '1.0-0'}}</div>
            </div>
            
            <p class="discount pt-2" *ngIf="yearly.specialDiscountPercent>0">discount: {{yearly?.specialDiscountPercent}}%</p>
           <!-- <p class="discount pt-2" *ngIf="yearly.specialDiscountPercent>0">discount: {{yearly.specialDiscountPercent}}</p>-->
            <div class="btn-top">
              <button class="btn-basic" [routerLink]="['/create-temp-user/']" [queryParams]="{ type: 'y'}">
                Buy now
              </button>
            </div>
          </div>
          <!--<hr />-->
          <div class="features-list">
            <p class="item-of-card">Features</p>
            <ul class="mt-3">
              <li><i class="pi pi-check check"></i> Manually renew every month </li>
              <li><i class="pi pi-check check"></i> Access to training material and video tutorials </li>
              <li><i class="pi pi-check check"></i> Live online training </li>
              <li><i class="pi pi-check check"></i> Chart Support </li>
              <li><i class="pi pi-check check"></i> Email Support-Business hours (IST) </li>
              <li><i class="pi pi-check check"></i> Google Meet or Skype Support </li>
              <li><i class="pi pi-check check"></i> Bulk Purchase offer </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
