<p-toast></p-toast>
<p-table #dt [value]="SubscriptionTypes" [loading]="loading" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,100,500,1000]"
        [globalFilterFields]=displayedColumns>
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center flex-column flex-md-row justify-content-between">
            <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success mr-2 d-none d-md-block"
            (click)="New_Clicked()"
          ></button>
            <h5 class="m-0 mb-3 mb-md-0 text-center">Manage Subscription Type</h5>
            <div class="d-flex justify-content-between c-w-100">
              <button pButton pRipple label="New" icon="pi pi-plus" class="d-block d-md-none p-button-success mr-2" (click)="New_Clicked()"></button>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text" class="form-control search-control p-inputtext"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..."
                />
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="subscriptionTypeId">
              Subscription Type ID <p-sortIcon field="subscriptionTypeId"></p-sortIcon>
              </th>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Description <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="validityDays">
              Validity Days <p-sortIcon field="validityDays"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.subscriptionTypeId }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.validityDays }}</td>
            <td>
              <button pButton
                      pRipple
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-success mr-2 btn-sm"
                      (click)="Edit_Clicked(item)"></button>
              <button pButton
                      pRipple
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-warning p-button-trash btn-sm"
                      (click)="Delete_Clicked(item)"></button>
            </td>
          </tr>
        </ng-template>
    </p-table>

    
<p-dialog
[(visible)]="showDialog"
[style]="{ width: '450px' }"
header="Subscription Type Details"
[modal]="true"
styleClass="p-fluid"
>
<ng-template pTemplate="content">
  <div class="p-field">
    <label for="Name">Name</label>
    <input
      type="text"
      class="form-control"
      pInputText
      id="name"
      [(ngModel)]="SubscriptionType.name" maxlength="32"
      required
      autofocus
    />
    <small class="p-invalid text-danger" *ngIf="submitted && !SubscriptionType.name">Name is required.</small>
  </div>
  <div class="p-field p-col-12 md-3">
    <label for="validityDays">Validity Days</label>
    <p-inputNumber [(ngModel)]="SubscriptionType.validityDays"  mode="decimal" [showButtons]="true" inputId="validityDays" [min]="1" [max]="100">
    </p-inputNumber>
    <small class="p-invalid text-danger" *ngIf="submitted && !SubscriptionType.validityDays">validityDays is required.</small>
</div>

  <div class="p-field">
    <label for="description">Description</label>
    <textarea
      id="description"
      class="form-control"
      pInputTextarea
      [(ngModel)]="SubscriptionType.description" maxlength="255"
      required
      rows="3"
      cols="20"
    ></textarea>
    <small for="vol" *ngIf="SubscriptionType &&SubscriptionType.description">Volume ({{SubscriptionType.description.length}}/255)</small> 
  </div>


</ng-template>

<ng-template pTemplate="footer">
  <button
    pButton
    pRipple
    label="Cancel"
    icon="pi pi-times"
    class="p-button-text btn-sm"
    (click)="Cancel_Clicked()"
  ></button>
  <button
    pButton
    pRipple
    label="Ok"
    icon="pi pi-check"
    class="p-button-text btn-sm"
    (click)="Ok_Clicked()"
  ></button>
</ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>



