<div class="row mt-5">
    <div class="col-12">
        <p>
            In Smart Mode, if you encounter a web page that requires you to log in to view the content, we can Pre Login as shown in the following figure.
            Specifically include:   
        </p>
        <p><strong>Step 1: </strong>Create a smart mode task</p>
        <p><strong>Step 2: </strong>Click the Pre Login button.</p>
        <p><strong>Step 3: </strong>Enter your account and password to log in to the website.</p>
        <p><strong>Step 4: </strong>Click “Login Succeed”.</p>
        <p>
            <img class="wp-image" src="../../../assets/images/sample-gif.gif" alt="sample gif" srcset="">
        </p>
    </div>
</div>