<p-toast></p-toast>
<!-- <p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success mr-2"
      (click)="new_clicked()"
    ></button>
  </ng-template>
</p-toolbar> -->
<p-table
  #dt
  [value]="entities"
  [loading]="loading"
  [paginator]="true"
  [rows]="rows"
  [showCurrentPageReport]="true"
  [(first)]="first"
  responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50, 100, 500, 1000]"
  [globalFilterFields]="displayedColumns"
>
  <ng-template pTemplate="caption">
    <div class="d-flex align-items-center flex-column flex-md-row justify-content-between">
      <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success mr-2 d-none d-md-block"
      (click)="new_clicked()"
    ></button>
      <h5 class="m-0 mb-3 mb-md-0 text-center">Manage Html Level</h5>
      <div class="d-flex justify-content-between c-w-100">
        <button pButton pRipple label="New" icon="pi pi-plus"
        class="p-button-success mr-2 d-block d-md-none"
        (click)="new_clicked()"
        ></button>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            class="form-control p-inputtext"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Description <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="parentId">
        ParentId <p-sortIcon field="parentId"></p-sortIcon>
      </th>
      <th><!--Placeholder for Edit/Delete buttons--></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>{{ entity.id }}</td>
      <td>{{ entity.name }}</td>
      <td>{{ entity.description }}</td>
      <td>{{ entity.parentId }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="edit_clicked(entity)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="delete_clicked(entity)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '450px' }"
  header="Html Level"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        pInputText
        id="name"
        [(ngModel)]="entity.name"
        required
        autofocus
      />
      <small class="p-invalid text-danger" *ngIf="submitted && !entity.name"
        >Name is required.</small
      >
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        class="form-control"
        pInputTextarea
        [(ngModel)]="entity.description"
        required
        rows="3"
        cols="20"
      ></textarea>
      <small class="p-invalid text-danger" *ngIf="submitted && !entity.description"
        >Description is required.</small
      >
    </div>
    <div class="p-field">
      <label for="description">Parent Id</label>
      <input
        type="text"
        id="parentId"
        class="form-control"
        [(ngModel)]="entity.parentId"
      />
    </div>
    <!-- <div class="p-float-label p-field">
    <input id="float-input" type="text" pInputText 
    [(ngModel)]="entity.parentId" > 
    <label for="float-input">Parent Id</label>
  </div> -->
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text btn-sm"
      (click)="cancel_clicked()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text btn-sm"
      (click)="submit_clicked()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
