<p-toast></p-toast>
<p-table
  #dt
  [value]="data"
  [loading]="loading"
  [paginator]="true"
  [rows]="rows"
  [showCurrentPageReport]="true"
  [(first)]="first"
  responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50, 100, 500, 1000]"
  [globalFilterFields]="displayedColumns"
>
  <ng-template pTemplate="caption">
    <div
      class="
        d-flex
        align-items-center
        flex-column flex-md-row
        justify-content-between
      "
    >
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2 mr-2 d-none d-md-block"
        (click)="New_Clicked()"
      ></button>
      <h5 class="m-0 mb-3 mb-md-0 text-center">Manage Affiliate</h5>
      <div class="d-flex justify-content-between c-w-100">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="d-block d-md-none p-button-success mr-2"
          (click)="New_Clicked()"
        ></button>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            class="form-control search-control p-inputtext"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="affiliateId">
        Affiliate Id
        <p-sortIcon field="affiliateId"></p-sortIcon>
      </th>
      <th pSortableColumn="name">
        Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="contact">
        Contact
        <p-sortIcon field="contact"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Description
        <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="isActive">
        <p-sortIcon field="isActive"></p-sortIcon> IsActive
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.affiliateId }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.contact }}</td>
      <td>{{ item.description }}</td>
      <td *ngIf="item.isActive">
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="8" stroke-width="3" fill="green" />
        </svg>
      </td>
      <td *ngIf="!item.isActive">
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="8" stroke-width="3" fill="red" />
        </svg>
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="Edit_Clicked(item)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning p-button-trash"
          (click)="Delete_Clicked(item)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="showDialog"
  [style]="{ width: '450px' }"
  header="Affliate"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        pInputText
        id="name"
        [(ngModel)]="Affliate.name"
        maxlength="64"
        required
        autofocus
      />
      <small class="p-invalid text-danger" *ngIf="submitted && !Affliate.name"
        >Name is required.</small
      >
    </div>
    <div class="p-field">
      <label for="contact">Contact</label>
      <input
        type="text"
        class="form-control"
        pInputText
        id="contact"
        [(ngModel)]="Affliate.contact"
        maxlength="30"
        required
        autofocus
      />
      <small
        class="p-invalid text-danger"
        *ngIf="submitted && !Affliate.contact"
        >Contact is required.</small
      >
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        class="form-control"
        pInputTextarea
        [(ngModel)]="Affliate.description"
        maxlength="255"
        required
        rows="3"
        cols="20"
      >
      </textarea>
      <small for="vol" *ngIf="Affliate && Affliate.description"
        >Volume ({{ Affliate.description.length }}/255)</small
      >
    </div>
    <div class="p-col-12 md-3">
      <br />
      <div class="p-field-checkbox">
        <p-checkbox
          [(ngModel)]="Affliate.isActive"
          [binary]="true"
        ></p-checkbox>
        <label class="mb-0 ml-2" for="IsActive">IsActive</label>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text btn-sm"
      (click)="Cancel_Clicked()"
    ></button>
    <button
      pButton
      pRipple
      label="Ok"
      icon="pi pi-check"
      class="p-button-text btn-sm"
      (click)="Ok_Clicked()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
