<div class="download-section">
    <div class="prerequisites pt-3 my-5">
        <h3 class="mb-4">Prerequisites: </h3>
        <!-- <ul>
            <li><i class="pi pi-check check"></i>You should have Windows 8 OS or later</li>
            <li><i class="pi pi-check check"></i>You should have Office 2010 or later installed in your system</li>
            <li>
                <i class="pi pi-check check"></i>
                Ensure that your Microsoft Excel version has support for Macros. 
                You can test it by bringing up the Macro window by pressing Alt+F11 
                key. If the VBA Editor window opens, rest assured that there is support for Macro.
            </li>
        </ul> -->
        <ol>
            <li>You should have Windows 8 OS or later</li>
            <li>You should have Office 2010 or later installed in your system</li>
            <li>
                Ensure that your Microsoft Excel version has support for Macros. 
                You can test it by bringing up the Macro window by pressing Alt+F11 
                key. If the VBA Editor window opens, rest assured that there is support for Macro.
            </li>
        </ol>
    </div>
    <div class="photo-content text-center mb-5">
        <img src="../../assets/images/download-page-photo.png" class="w-75">
    </div>
    <div class="pb-5 mb-5 text-center download-btn">
        <a class="btn" href="../../assets/download-file/Xatocode-setup-1.0.msi" download>
            <i class="pi pi-download mr-1"></i>
            Download
        </a>
    </div>
</div>